.sidebar-pc {
    position: relative;
    background-color: rgb(28, 28, 41);
    color: white;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-pc .profile-picture {
    position: relative;
    background-color: red;
    width: 100%;
    height: 35%;
}
.sidebar-pc .profile-picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sidebar-pc .profile-picture .label {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: rgba(0, 0, 0.9, 0.4);
}

.sidebar-pc .page-list {
    margin-bottom: 20px;
    width: 100%;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-pc .page-list .page {
    width: 100%;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(100, 103, 105);
    color: rgb(70, 66, 66);
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 0;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
}
.sidebar-pc .page-list .page.active {
    color: white;
}
.sidebar-pc .page-list .page:hover {
    background-color: white;
    color: black;
}

.sidebar-pc .socials-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    font-size: 30px;
}
.sidebar-pc .socials-list a {
    cursor: pointer;
    transition: 0.2s;
    color: white;
    position: relative;
    bottom: 0;
}


@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    .sidebar-pc {
        display: none;
    }
}
