.sidebar-mobile {
    width: 80vw;
    height: 100vh;
    background-color: red;
}

@media only screen and (min-width: 768px) {
    /* For PCs+: */
    .sidebar-mobile {
        display: none;
    }
}
