.sidebar-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 80vw;
    height: 100vh;
    background-color: red;
}

@media only screen and (min-width: 768px) {
    /* For PCs+: */
    .sidebar-mobile {
        display: none;
    }
}
