.section.about .upper-third {
    position: relative;
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section.about .upper-third .down-arrow {
    opacity: 1;
    position: relative;
    bottom: 0px;
    font-size: 60px;
    cursor: pointer;
    transition: 0.5s;
}

.section.about .upper-third .down-arrow.hidden {
    opacity: 0;
}

.section.about .upper-third .down-arrow:hover {
    color: blue;
    bottom: 20px;
}

.section.about .middle-third {
    font-size: 20px;
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section.about .middle-third p {
    width: 80%;
    text-align: center;
}

.section.about .lower-third {
    position: relative;
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section.about .lower-third .down-arrow {
    opacity: 1;
    position: relative;
    top: 0px;
    font-size: 60px;
    cursor: pointer;
    transition: 0.5s;
}

.section.about .lower-third .down-arrow.hidden {
    opacity: 0;
}

.section.about .lower-third .down-arrow:hover {
    color: blue;
    top: 20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .section.about .upper-third {
        height: 20%;
    }
    .section.about .middle-third {
        height: 60%;
    }
    .section.about .lower-third {
        height: 20%;
    }
    .section.about .middle-third p {
        width: 90%;
        
    }

    .section.about .middle-third p {
        font-size: 25px;
    }
}
