body {
    background-image: url("/background/background.jpg");
}

.section-container {
    position: relative;
    width: 80vw;
    height: 100vh;
}
.section {
  color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 80vw;
    height: 100%;
    opacity: 1;
    transition: 0.3s;
}

.section.hidden {
    opacity: 0;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .section {
        width: 100vw;
        height: 100vh;
    }
}
